.about {
  flex-direction: column;
  margin-top: 3em;
}

.about__name {
  color: #800080;
  font-size: 3rem;
}

.about__role {
  margin-top: 1.2em;
  font-style: italic;
}

.about__desc {
  font-size: 1rem;
  max-width: 600px;
}

.about__desc,
.about__contact {
  margin-top: 2.4em;
  margin-right: -100px;
}

.about .link--icon {
  margin-right: 0.8em;
  color: white;
  font-size: 2rem;
 
  
}

.about .btn--outline {
  margin-right: 1em;
}

.lottie-container {
  position: relative;
  top: -80px; /* Adjust this value to move the animation up */
  right: -80px; /* Adjust this value to move the animation to the right */
}


@media (max-width: 600px) {
  .app .about {
    align-items: flex-start;
    margin-top: 2em;
  }
}
